h1{
    color:tomato;
}
.header{
    display: flex;
    justify-content:space-between;
    background-color:rgb(98, 130, 161);
}
.grid{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color:rgb(145, 182, 211);
}
.footer{
    display: flex;
    justify-content: space-between;
}
h2,p{
    text-align: center;
}
.description{
  background-color:rgb(129, 191, 202);

}